body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: bisque;
    height: 900px;
    width: 800px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#player {
    /*background-image: url("body.png");
     background-color: blueviolet;*/
    position: absolute;
}

.block {
    background-color: red;
    position: absolute;
}